<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Devotional Site</title>
    </head>
    <body>
        {% block content %}
        
        {% endblock %}

    </body>
</html>
