{% extends "base.html" %}
{% block content %}
<h1>Total devotional word count: {{count}}</h1>
<h3>Breakdown of each devotional:</h3>
<ul>
    {% for devotional in devotionals %}
    <li><a href="{{devotional.get_absolute_url}}">{{devotional.title}}</a>: {{devotional.count}}</li>
    {% endfor %}
</ul>
{% endblock %}
