{% extends "base.html" %}
{% block content %}
<h1>{{devotional.title}}</h1>
<h3>For month {{devotional.month}} and day {{devotional.day}}</h3>
<div>{{devotional.body|safe}}</div>

{% if devotional.tags.exists %}
	<h3>Tags</h3>
	<ul>
	{% for tag in devotional.tags.all %}
		<li>{{tag}}</li>
	{% endfor %}
	</ul>
{% endif %}


{% endblock %}
